
dist
.solid
.output
.vercel
.netlify
.env
netlify
postgres-data
prisma/migrations

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore
*.tsbuildinfo

# System Files
.DS_Store
Thumbs.db
